a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

ul {
  list-style: none;
}

#main__header {
  position: absolute;
  top: 0;
  width: 100%;
}

body {
  background-image: url('../img/bg.png');
  background-size: 75%;
  /*background-attachment: fixed;*/
}

body.no-scroll {
  overflow: hidden;
}

#dim.dim {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 0, 119, 0.75);
  z-index: 1;
  transition: 0.5s;
}

@keyframes levitate {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* WORKS */
.hero_works {
  position: absolute;
}

.hero_works h1 a {
  transform: rotate(90deg) translateY(13rem);
  font-family: 'Arial', sans-serif;
  color: #0E1567;
  font-size: 4rem;
  position: fixed;
  mix-blend-mode: color-burn;
  top: 16rem;
  left: 6rem;
  z-index: 1;
}

.works h2 {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: #FFDD28;
  font-size: 2.5rem;
  padding-top: 16vh;
  padding-left: 15vh;
  padding-bottom: 10vh;
}

.works ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.works img {
  width: 100%;
  height: 44.2vh;
  object-fit: cover;
  line-height: 0;
}

.works ul li figure {
  position: relative;
  line-height: 0;
}

.works figure>a {
  display: block;
  width: 100%;
  height: auto;
}

.works .mouse {
  opacity: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 221, 40, 0.5);
}

.works .mouse p {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #0E1567;
}

.works .mouse:hover {
  opacity: 1;
}

.works p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.works p a {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #0E1567;
  padding: 0.5rem 1.5rem;
  height: 2rem;
  width: 9rem;
  border-radius: 115px;
  background-color: #FFDD28;
  transition: all 200ms ease-in-out;
}

.works p a:hover {
  transition: all 200ms ease-in-out;
  background-color: #fff;
}

/* HERO */
.hero {
  background: url('../img/hero_desktop.jpg') no-repeat center;
  border-radius: 0px 0px 37px 37px;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 110vh;
  object-fit: cover;
  display: flex;
}

.hero h1 a {
  transform: rotate(90deg) translateY(13rem);
  font-family: 'Arial', sans-serif;
  color: #0E1567;
  font-size: 4rem;
  position: fixed;
  mix-blend-mode: color-burn;
  top: 16rem;
  left: 6rem;
  z-index: 1;
}

.hero h2 {
  font-family: 'Arial', sans-serif;
  color: #0E1567;
  padding-top: 92vh;
  font-size: 1.5rem;
  animation-name: levitate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hero h2 a {
  color: #0E1567;
}

/* ENTER */
.enter {
  padding-top: 5.1rem;
  padding-bottom: 2rem;
}

.enter div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 158px;
  border-radius: 115px;
  background-color: #FFDD28;
}

.enter h2 {
  font-family: 'Arial', sans-serif;
  color: #0B0163;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.enter h2 span {
  display: block;
}

/* ILLUSTRATION */
.projects h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.4rem;
  color: #FFDD28;
  text-align: center;
  padding: 3rem;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects img {
  width: 100%;
  height: 44.2vh;
  object-fit: cover;
  z-index: 0;
}

.projects ul li figure {
  position: relative;
}

.projects figure>a {
  display: block;
  width: 100%;
  height: auto;
}

.projects .mouse {
  opacity: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 221, 40, 0.5);
}

.projects .mouse p {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #0E1567;
}

.projects .mouse:hover {
  opacity: 1;
}

.projects p {
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

.projects p a {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #0E1567;
  padding: 0.5rem 1.5rem;
  height: 3rem;
  width: 10rem;
  border-radius: 115px;
  background-color: #FFDD28;
  transition: all 200ms ease-in-out;
}

.projects p a:hover {
  transition: all 200ms ease-in-out;
  background-color: #fff;
}

/* ABOUT */
.About h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.4rem;
  color: #FFDD28;
  text-align: center;
  padding: 3rem;
}

.About img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
}

.About article p {
  position: relative;
  margin-top: 60vh;
  padding: 3rem 3rem 3rem 3rem;
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #150049;
  line-height: 1rem;
  width: 30%;
  margin-left: 50%;
  border-radius: 37px;
  background-color: #F7F4E9;
  animation-name: levitate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.About article p span {
  display: block;
  padding-top: 1rem;
}

.About p {
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;
}

.About p a {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #0E1567;
  padding: 0.5rem 1.5rem;
  height: 3rem;
  width: 10rem;
  border-radius: 115px;
  background-color: #FFDD28;
  transition: all 200ms ease-in-out;
}

.About p a:hover {
  transition: all 200ms ease-in-out;
  background-color: #fff;
}

/* CONTACT */
.Contact h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.4rem;
  color: #FFDD28;
  text-align: center;
  padding: 3rem;
}

.Contact .short img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
}

.Contact .social {
  position: relative;
  margin: 1.5rem;
  margin-top: 60vh;
  padding: 2rem 2rem 2rem 0rem;
  text-align: center;
  border-radius: 37px;
  background-color: #0c005e;
  width: 30%;
  margin-left: 50%;
  animation-name: levitate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.Contact .social ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

.Contact .social ul li figure a img {
  height: 2.2rem;
}

.Contact .social address {
  padding-top: 2rem;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  color: #fff;
}

.Contact .social address a {
  font-style: italic;
  color: #fff;
  text-align: center;
}

.Contact p {
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Contact p a {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #0E1567;
  padding: 0.5rem 1.5rem;
  height: 3rem;
  width: 10rem;
  border-radius: 115px;
  background-color: #FFDD28;
  transition: all 200ms ease-in-out;
}

.Contact p a:hover {
  transition: all 200ms ease-in-out;
  background-color: #fff;
}

/* FOOTER */
footer .logo {
  text-align: center;
  padding: 2rem;
}

footer .logo a {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.footer_nav {
  position: relative;
  transform: translateX(0%);
}

.footer_nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  align-items: center;
}

.footer_nav ul li a {
  padding: 0.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #FFDD28;
}

footer .small {
  padding: 1rem;
  text-align: center;
  align-items: center;
}

footer .small small {
  font-family: 'Arial', sans-serif;
  font-size: 0.64rem;
  color: #fff;
}

/* BURGER */
header.open nav {
  transform: translateX(0%);
}

#burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  top: 3rem;
  left: 2.4rem;
  cursor: pointer;
  z-index: 3;
  position: fixed;
}

#burger span {
  display: inline-block;
  position: fixed;
  height: 0.2rem;
  width: 1.5rem;
  border-radius: 20px;
  background-color: #0E1567;
  transition: all 0.5s cubic-bezier(0.34, 0.07, 0.1, 1);
}

#burger span:before, #burger span:after {
  content: '';
  height: 0.2rem;
  width: 1.5rem;
  border-radius: 20px;
  position: absolute;
  right: 0;
  background-color: #0E1567;
  transition: all 0.5s cubic-bezier(0.34, 0.07, 0.1, 1);
}

#burger span:before {
  top: -0.5rem;
}

#burger span:after {
  bottom: -0.5rem;
}

header.open #burger span {
  background-color: transparent;
}

header.open #burger span:before {
  top: 0;
  transform: rotate(-45deg);
  background-color: #0E1567;
}

header.open #burger span:after {
  bottom: 0;
  transform: rotate(45deg);
  background-color: #0E1567;
}

.main__navigation h2 {
  padding-top: 3.1rem;
  font-family: 'Arial', sans-serif;
  color: #0E1567;
  font-size: 1.5rem;
  font-weight: bold;
}

.main__navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90vh;
  border-radius: 0px 0px 37px 37px;
  background-color: #FFDD28;
  transform: translateY(-150%);
  text-align: center;
  transition: all 300ms ease-in-out;
  z-index: 2;
}

.main__navigation ul {
  padding-top: 2rem;
  margin: 0;
}

.main__navigation li {
  display: block;
}

.main__navigation a {
  font-family: 'Arial', sans-serif;
  color: #0E1567;
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.5rem;
}

.circle {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50px;
  background-color: #FFDD28;
  mix-blend-mode: soft-light;
}
